
/* HEADER AND BUTTON STYLES */

.inner {
  border-bottom: 1px solid red;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(255,0,0,1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(255,0,0,1);
  box-shadow: 1px 1px 5px 0px rgba(255,0,0,1);
}

.logo_img {
  width: 150px;
  height: 150px;
}

.logo {
  margin: 0 auto;
  text-align: center;
}

.nav-link {
  color: rgb(70, 67, 67);
  padding: 20px 15px;
  font-weight: 700;
}

.nav-link:hover {
  color: red;
}

/* DVD, BOOKS and TABLES (OUTPUT) STYLES */

.table {
  padding:  50px 20px 0;
}


.unit {
  display: inline-block;
  width: 300px;
  border: 1px solid rgb(167, 162, 162);
  text-align: center;
  margin: 20px 30px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(255,0,0,0.5);
-moz-box-shadow: 0px 0px 13px 0px rgba(255,0,0,0.5);
box-shadow: 0px 0px 13px 0px rgba(255,0,0,0.5);

}

.field {
  border-bottom:  1px solid rgb(167, 162, 162);
  margin: 2px;
}

.field:last-child {
  border: none;
}

.field-logo {
  margin: 2px;
  font-weight: 700;
}


.box {
  margin-top: 50px;
  padding: 30px;
  border: 1px solid rgb(206, 206, 206);
}

.btn-group {
  width: 30%;
  margin-left: 35%;
}

/* MASS DELETE BUTTON */

.btn-delete {

  position: fixed;
  top: 20px;
  right: 50px;
  border-radius: 2px;


}


.helper {
  color: rgb(117, 115, 115);
}
